.category--header
    h2.secondary--header Our Products
    |               
    .category--list-container
        h3.tertiary--header
            a.link.link--category.active(href=`/?product=all-products${currentPage?`&page=1`:''}`) Products
        |                 
        h3.tertiary--header
            a.link.link--category(href=`/?category=Provisions${currentPage?`&page=1`:''}`) Provisions
        |                 
        h3.tertiary--header
            a.link.link--category(href=`/?category=Grains${currentPage?`&page=1`:''}`) Grains
        |                 
        h3.tertiary--header
            a.link.link--category(href=`/?category=Flour${currentPage?`&page=1`:''}`) Flour
        |                 
        h3.tertiary--header
            a.link.link--category(href=`/?category=Spices${currentPage?`&page=1`:''}`) Spices
        |                 
        h3.tertiary--header
            a.link.link--category(href=`/?category=Animal Protein${currentPage?`&page=1`:''}`) Meat
        |                 
        h3.tertiary--header
            a.link.link--category(href=`/?category=Oil${currentPage?`&page=1`:''}`) Oil
        |                 
        h3.tertiary--header
            a.link.link--category(href=`/?category=Others${currentPage?`&page=1`:''}`) Others