extends base

block content
  main
    - if(currentPage===1 && !pageThatControlsHero)
      include _hero
    
    // PRODUCT SECTION
    section#products--id.products
      .content
        .container.product--container.grid.grid--5--columns
          include _categoryHeader
          //- .category--header
          //-   h2.secondary--header Our Products
          //-   |               
          //-   .category--list-container
          //-     h3.tertiary--header
          //-       a.link.link--category.active(href=`/?product=all-products${currentPage?`&page=1`:''}`) Products
          //-     |                 
          //-     h3.tertiary--header
          //-       a.link.link--category(href=`/?category=Provisions${currentPage?`&page=1`:''}`) Provisions
          //-     |                 
          //-     h3.tertiary--header
          //-       a.link.link--category(href=`/?category=Grains${currentPage?`&page=1`:''}`) Grains
          //-     |                 
          //-     h3.tertiary--header
          //-       a.link.link--category(href=`/?category=Flour${currentPage?`&page=1`:''}`) Flour
          //-     |                 
          //-     h3.tertiary--header
          //-       a.link.link--category(href=`/?category=Spices${currentPage?`&page=1`:''}`) Spices
          //-     |                 
          //-     h3.tertiary--header
          //-       a.link.link--category(href=`/?category=Animal Protein${currentPage?`&page=1`:''}`) Meat
          //-     |                 
          //-     h3.tertiary--header
          //-       a.link.link--category(href=`/?category=Oil${currentPage?`&page=1`:''}`) Oil
          //-     |                 
          //-     h3.tertiary--header
          //-       a.link.link--category(href=`/?category=Others${currentPage?`&page=1`:''}`) Others
          |   
          each food in foods          
            .product--jacket
              figure.product
                .product--image--container
                  a.link(href=`/productname/${food.slug}`)
                    img.image.product--image(src=`img/product-images/${food.image}`, alt=`${food.slug}`)
                  |                 
                .product--description--container
                  p.paragraph.category
                    a.link(href=`/?category=${food.category}${currentPage?`&page=1`:''}`)=food.category
                  |                   
                  p.paragraph.product-name
                    a.link.link--product--name(href=`/productname/${food.slug}?page=1`)=food.productName
                  |                   
                  p.paragraph.weight
                    span.weight-effect Weight
                    - const foodWeight = food.weight ? food.weight :'N/a'
                    | : #{foodWeight}
                  |                   
                  p.paragraph.price
                    | $
                    span.price--effect=food.price
                  |                   
                  .flex.cart--container
                    .input--container
                      button.button.button--icon.button-plus-minus.button--minus
                        i.icon.icon--minus.icon-plus-minus(data-feather='minus')
                      |                       
                      input.input.product--unit--quantity(type='text', name='product-unit', value='1')
                      |                       
                      button.button.button--icon.button-plus-minus.button--plus
                        i.icon.icon--plus.icon-plus-minus(data-feather='plus')
                    |                     
                    button.button.button--icon.button--cart(id=food.id)
                      i.icon.icon--cart(data-feather='shopping-cart')
                      
        if foodsLength > pageLimit
          include _page-button

                      
          //- |             
          //- .product--jacket
          //-   figure.product
          //-     .product--image--container
          //-       img.image.product--image(src='img/product-images/egusi.jpeg', alt='milo-sachet-400-gram')
          //-     |                 
          //-     .product--description--container
          //-       p.paragraph.category
          //-         a.link(href='#') grains
          //-       |                   
          //-       p.paragraph.product-name
          //-         a.link.link--product--name(href='#')  Egusi
          //-       |                   
          //-       p.paragraph.weight
          //-         span.weight-effect Weight
          //-         | : N/a
          //-       |                   
          //-       p.paragraph.price
          //-         | $
          //-         span.price--effect 6
          //-       |                   
          //-       .flex.cart--container
          //-         .input--container
          //-           button.button.button--icon.button-plus-minus.button--minus
          //-             i.icon.icon--minus.icon-plus-minus(data-feather='minus')
          //-           |                       
          //-           input.input.product--unit--quantity(type='text', name='product-unit', value='1')
          //-           |                       
          //-           button.button.button--icon.button-plus-minus.button--plus
          //-             i.icon.icon--plus.icon-plus-minus(data-feather='plus')
          //-         |                     
          //-         button.button.button--icon.button--cart(href='#')
          //-           i.icon.icon--cart(data-feather='shopping-cart')
          //- |             
          //- .product--jacket
          //-   figure.product
          //-     .product--image--container
          //-       img.image.product--image(src='img/product-images/crayfish.jpg', alt='milo-sachet-400-gram')
          //-     |                 
          //-     .product--description--container
          //-       p.paragraph.category
          //-         a.link(href='#') Animal protein
          //-       |                   
          //-       p.paragraph.product-name
          //-         a.link.link--product--name(href='#')  Crayfish
          //-       |                   
          //-       p.paragraph.weight
          //-         span.weight-effect Weight
          //-         | : N/a
          //-       |                   
          //-       p.paragraph.price
          //-         | $
          //-         span.price--effect 6
          //-       |                   
          //-       .flex.cart--container
          //-         .input--container
          //-           button.button.button--icon.button-plus-minus.button--minus
          //-             i.icon.icon--minus.icon-plus-minus(data-feather='minus')
          //-           |                       
          //-           input.input.product--unit--quantity(type='text', name='product-unit', value='1')
          //-           |                       
          //-           button.button.button--icon.button-plus-minus.button--plus
          //-             i.icon.icon--plus.icon-plus-minus(data-feather='plus')
          //-         |                     
          //-         button.button.button--icon.button--cart(href='#')
          //-           i.icon.icon--cart(data-feather='shopping-cart')
          //- |             
          //- .product--jacket
          //-   figure.product
          //-     .product--image--container
          //-       img.image.product--image(src='img/product-images/peak-mil.jpeg', alt='milo-sachet-400-gram')
          //-     |                 
          //-     .product--description--container
          //-       p.paragraph.category
          //-         a.link(href='#') Provisions
          //-       |                   
          //-       p.paragraph.product-name
          //-         a.link.link--product--name(href='#') Peak Milk
          //-       |                   
          //-       p.paragraph.weight
          //-         span.weight-effect Weight
          //-         | : N/a
          //-       |                   
          //-       p.paragraph.price
          //-         | $
          //-         span.price--effect 6
          //-       |                   
          //-       .flex.cart--container
          //-         .input--container
          //-           button.button.button--icon.button-plus-minus.button--minus
          //-             i.icon.icon--minus.icon-plus-minus(data-feather='minus')
          //-           |                       
          //-           input.input.product--unit--quantity(type='text', name='product-unit', value='1')
          //-           |                       
          //-           button.button.button--icon.button-plus-minus.button--plus
          //-             i.icon.icon--plus.icon-plus-minus(data-feather='plus')
          //-         |                     
          //-         button.button.button--icon.button--cart(href='#')
          //-           i.icon.icon--cart(data-feather='shopping-cart')
          //- |             
          //- .product--jacket
          //-   figure.product
          //-     .product--image--container
          //-       img.image.product--image(src='img/product-images/meat.jpeg', alt='milo-sachet-400-gram')
          //-     |                 
          //-     .product--description--container
          //-       p.paragraph.category
          //-         a.link(href='#') Animal Protein
          //-       |                   
          //-       p.paragraph.product-name
          //-         a.link.link--product--name(href='#') Goat Meat
          //-       |                   
          //-       p.paragraph.weight
          //-         span.weight-effect Weight
          //-         | : N/a
          //-       |                   
          //-       p.paragraph.price
          //-         | $
          //-         span.price--effect 6
          //-       |                   
          //-       .flex.cart--container
          //-         .input--container
          //-           button.button.button--icon.button-plus-minus.button--minus
          //-             i.icon.icon--minus.icon-plus-minus(data-feather='minus')
          //-           |                       
          //-           input.input.product--unit--quantity(type='text', name='product-unit', value='1')
          //-           |                       
          //-           button.button.button--icon.button-plus-minus.button--plus
          //-             i.icon.icon--plus.icon-plus-minus(data-feather='plus')
          //-         |                     
          //-         button.button.button--icon.button--cart(href='#')
          //-           i.icon.icon--cart(data-feather='shopping-cart')
          //- |             
          //- .product--jacket
          //-   figure.product
          //-     .product--image--container
          //-       img.image.product--image(src='img/product-images/indomie.jpeg', alt='milo-sachet-400-gram')
          //-     |                 
          //-     .product--description--container
          //-       p.paragraph.category
          //-         a.link(href='#') Provisions
          //-       |                   
          //-       p.paragraph.product-name
          //-         a.link.link--product--name(href='#') Indomie
          //-       |                   
          //-       p.paragraph.weight
          //-         span.weight-effect Weight
          //-         | : N/a
          //-       |                   
          //-       p.paragraph.price
          //-         | $
          //-         span.price--effect 6
          //-       |                   
          //-       .flex.cart--container
          //-         .input--container
          //-           button.button.button--icon.button-plus-minus.button--minus
          //-             i.icon.icon--minus.icon-plus-minus(data-feather='minus')
          //-           |                       
          //-           input.input.product--unit--quantity(type='text', name='product-unit', value='1')
          //-           |                       
          //-           button.button.button--icon.button-plus-minus.button--plus
          //-             i.icon.icon--plus.icon-plus-minus(data-feather='plus')
          //-         |                     
          //-         button.button.button--icon.button--cart(href='#')
          //-           i.icon.icon--cart(data-feather='shopping-cart')
          //- |             
          //- .product--jacket
          //-   figure.product
          //-     .product--image--container
          //-       img.image.product--image(src='img/product-images/onga.jpeg', alt='milo-sachet-400-gram')
          //-     |                 
          //-     .product--description--container
          //-       p.paragraph.category
          //-         a.link(href='#') Spices
          //-       |                   
          //-       p.paragraph.product-name
          //-         a.link.link--product--name(href='#') Onga
          //-       |                   
          //-       p.paragraph.weight
          //-         span.weight-effect Weight
          //-         | : N/a
          //-       |                   
          //-       p.paragraph.price
          //-         | $
          //-         span.price--effect 6
          //-       |                   
          //-       .flex.cart--container
          //-         .input--container
          //-           button.button.button--icon.button-plus-minus.button--minus
          //-             i.icon.icon--minus.icon-plus-minus(data-feather='minus')
          //-           |                       
          //-           input.input.product--unit--quantity(type='text', name='product-unit', value='1')
          //-           |                       
          //-           button.button.button--icon.button-plus-minus.button--plus
          //-             i.icon.icon--plus.icon-plus-minus(data-feather='plus')
          //-         |                     
          //-         button.button.button--icon.button--cart(href='#')
          //-           i.icon.icon--cart(data-feather='shopping-cart')
          //- |             
          //- .product--jacket
          //-   figure.product
          //-     .product--image--container
          //-       img.image.product--image(src='img/product-images/meat.jpeg', alt='milo-sachet-400-gram')
          //-     |                 
          //-     .product--description--container
          //-       p.paragraph.category
          //-         a.link(href='#') Animal protein
          //-       |                   
          //-       p.paragraph.product-name
          //-         a.link.link--product--name(href='#') meat
          //-       |                   
          //-       p.paragraph.weight
          //-         span.weight-effect Weight
          //-         | : N/a
          //-       |                   
          //-       p.paragraph.price
          //-         | $
          //-         span.price--effect 6
          //-       |                   
          //-       .flex.cart--container
          //-         .input--container
          //-           button.button.button--icon.button-plus-minus.button--minus
          //-             i.icon.icon--minus.icon-plus-minus(data-feather='minus')
          //-           |                       
          //-           input.input.product--unit--quantity(type='text', name='product-unit', value='1')
          //-           |                       
          //-           button.button.button--icon.button-plus-minus.button--plus
          //-             i.icon.icon--plus.icon-plus-minus(data-feather='plus')
          //-         |                     
          //-         button.button.button--icon.button--cart(href='#')
          //-           i.icon.icon--cart(data-feather='shopping-cart')
          //- |             
          //- .product--jacket
          //-   figure.product
          //-     .product--image--container
          //-       img.image.product--image(src='img/product-images/palm-oil.jpeg', alt='milo-sachet-400-gram')
          //-     |                 
          //-     .product--description--container
          //-       p.paragraph.category
          //-         a.link(href='#') Oil
          //-       |                   
          //-       p.paragraph.product-name
          //-         a.link.link--product--name(href='#') Palm Oil
          //-       |                   
          //-       p.paragraph.weight
          //-         span.weight-effect Weight
          //-         | : N/a
          //-       |                   
          //-       p.paragraph.price
          //-         | $
          //-         span.price--effect 6
          //-       |                   
          //-       .flex.cart--container
          //-         .input--container
          //-           button.button.button--icon.button-plus-minus.button--minus
          //-             i.icon.icon--minus.icon-plus-minus(data-feather='minus')
          //-           |                       
          //-           input.input.product--unit--quantity(type='text', name='product-unit', value='1')
          //-           |                       
          //-           button.button.button--icon.button-plus-minus.button--plus
          //-             i.icon.icon--plus.icon-plus-minus(data-feather='plus')
          //-         |                     
          //-         button.button.button--icon.button--cart(href='#')
          //-           i.icon.icon--cart(data-feather='shopping-cart')
          //- |             
          //- .product--jacket
          //-   figure.product
          //-     .product--image--container
          //-       img.image.product--image(src='img/product-images/banga.jpeg', alt='milo-sachet-400-gram')
          //-     |                 
          //-     .product--description--container
          //-       p.paragraph.category
          //-         a.link(href='#') Oil
          //-       |                   
          //-       p.paragraph.product-name
          //-         a.link.link--product--name(href='#') Banga
          //-       |                   
          //-       p.paragraph.weight
          //-         span.weight-effect Weight
          //-         | : N/a
          //-       |                   
          //-       p.paragraph.price
          //-         | $
          //-         span.price--effect 6
          //-       |                   
          //-       .flex.cart--container
          //-         .input--container
          //-           button.button.button--icon.button-plus-minus.button--minus
          //-             i.icon.icon--minus.icon-plus-minus(data-feather='minus')
          //-           |                       
          //-           input.input.product--unit--quantity(type='text', name='product-unit', value='1')
          //-           |                       
          //-           button.button.button--icon.button-plus-minus.button--plus
          //-             i.icon.icon--plus.icon-plus-minus(data-feather='plus')
          //-         |                     
          //-         button.button.button--icon.button--cart(href='#')
          //-           i.icon.icon--cart(data-feather='shopping-cart')
          //- |             
          //- .product--jacket
          //-   figure.product
          //-     .product--image--container
          //-       img.image.product--image(src='img/product-images/beans.jpeg', alt='milo-sachet-400-gram')
          //-     |                 
          //-     .product--description--container
          //-       p.paragraph.category
          //-         a.link(href='#') Grains
          //-       |                   
          //-       p.paragraph.product-name
          //-         a.link.link--product--name(href='#') Beans
          //-       |                   
          //-       p.paragraph.weight
          //-         span.weight-effect Weight
          //-         | : N/a
          //-       |                   
          //-       p.paragraph.price
          //-         | $
          //-         span.price--effect 6
          //-       |                   
          //-       .flex.cart--container
          //-         .input--container
          //-           button.button.button--icon.button-plus-minus.button--minus
          //-             i.icon.icon--minus.icon-plus-minus(data-feather='minus')
          //-           |                       
          //-           input.input.product--unit--quantity(type='text', name='product-unit', value='1')
          //-           |                       
          //-           button.button.button--icon.button-plus-minus.button--plus
          //-             i.icon.icon--plus.icon-plus-minus(data-feather='plus')
          //-         |                     
          //-         button.button.button--icon.button--cart(href='#')
          //-           i.icon.icon--cart(data-feather='shopping-cart')
          //- |             
          //- .product--jacket
          //-   figure.product
          //-     .product--image--container
          //-       img.image.product--image(src='img/product-images/milo.jpeg', alt='milo-sachet-400-gram')
          //-     |                 
          //-     .product--description--container
          //-       p.paragraph.category
          //-         a.link(href='#') Provisions
          //-       |                   
          //-       p.paragraph.product-name
          //-         a.link.link--product--name(href='#')  Milo
          //-       |                   
          //-       p.paragraph.weight
          //-         span.weight-effect Weight
          //-         | : N/a
          //-       |                   
          //-       p.paragraph.price
          //-         | $
          //-         span.price--effect 6
          //-       |                   
          //-       .flex.cart--container
          //-         .input--container
          //-           button.button.button--icon.button-plus-minus.button--minus
          //-             i.icon.icon--minus.icon-plus-minus(data-feather='minus')
          //-           |                       
          //-           input.input.product--unit--quantity(type='text', name='product-unit', value='1')
          //-           |                       
          //-           button.button.button--icon.button-plus-minus.button--plus
          //-             i.icon.icon--plus.icon-plus-minus(data-feather='plus')
          //-         |                     
          //-         button.button.button--icon.button--cart(href='#')
          //-           i.icon.icon--cart(data-feather='shopping-cart')
